<!DOCTYPE HTML>
{% load humanize %}
{% load memexfilters %}
<html>
    <head>
        <title>{{ site }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="{% url 'app.views.index' %}">
        <!--[if lte IE 8]><script src="static/assets/css/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/assets/css/featherlight.min.css" />
        <link rel="stylesheet" href="static/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 8]><script src="static/assets/css/ie/respond.min.js"></script><![endif]-->
        <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    </head>
    <body data-domain="{{ domain }}">
        <div id="wrap">
        
            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <article class="box post">
                        <h2>{{ domain|capfirst }}</h2>
                    </article>
                    <section class="box">
                        <p><a href="{{filter.domain}}">&laquo; Back</a></p>
                    </section>
                    <p class="controls">
                        <textarea class="terms-list" style="width: 100%; height: 120px;">{% for keyword in keywords %}{{keyword}}
{% endfor %}</textarea>
                        <button class="load-terms">Refresh</button>
                    </p>
                    <p class="charts">
                    </p>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                <h1 id="logo"><a class="go-home" href="#">MEMEX <div style="font-size:10pt">Crawl Dashboard</div></a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <header>
                        <h2>Domain</h2>
                    </header>
                    <ul>
                        {% for domain in domains.buckets %}
                        <li>
                            <a title="{{ domain.key|capfirst }}" href="{{domain.key}}">
                                <span>{{ domain.key|capfirst }}</span>
                                <span style='float:right'>({{ domain.doc_count|intcomma }})</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div id="domain-sidebar"></div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/skel.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <script src="static/assets/js/featherlight.min.js"></script>
        <script src="static/assets/js/highcharts.js"></script>
        <script src="static/assets/js/main.js"></script>
        <script src="static/assets/js/analysis.js"></script>
        <script>
            $(function() {
                app.bootstrap();
                $(".load-terms").click();
            });
        </script>
    </body>
</html>
