<!DOCTYPE HTML>
{% load humanize %}
{% load memexfilters %}

<html>
    <head>
        <title>{{ site }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="{% url 'app.views.index' %}">
        <!--[if lte IE 8]><script src="static/assets/css/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/assets/css/featherlight.min.css" />
        <link rel="stylesheet" href="static/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 8]><script src="static/assets/css/ie/respond.min.js"></script><![endif]-->
        <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    </head>
    <body data-domain="{{ filter.domain }}">
        <div id="wrap">
            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <article class="box post">
                        <h2>{{ filter.domain|capfirst }}</h2><a href="{% url 'app.views.report' %}?domain={{filter.domain}}">Stats</a>
                    </article>
                    <section class="box">
                        <p><a href="{{filter.domain}}/analysis">Keyword Analysis</a></p>
                    </section>
                    <section class="box filters">
                        <ul>
                            {% if filter.team %}
                                <li><i>Team:</i> <b>{{filter.team|upper}}</b> <a href="#" class="remove-filter" data-field="team">&times;</a></li>
                            {% endif %}
                            {% if filter.crawler %}
                                <li><i>Crawler:</i> <b>{{filter.crawler|upper}}</b> <a href="#" class="remove-filter" data-field="crawler">&times;</a></li>
                            {% endif %}
                            {% if filter.site %}
                                <li><i>Site:</i> <b>{{filter.site}}</b> <a href="#" class="remove-filter" data-field="site">&times;</a></li>
                            {% endif %}
                            {% if filter.timestamp%}
                                <li><i>Since:</i> <b>Last 1 {{filter.timestamp|capfirst}}</b> <a href="#" class="remove-filter" data-field="timestamp">&times;</a></li>
                            {% endif %}
                            {% if filter.phrase %}
                                {% if filter.exact == 'true' %}
                                <li><i>Phrase:</i> <b>"{{filter.phrase}}"</b> <a href="#" class="remove-filter" data-field="phrase">&times;</a></li>
                                {% else %}
                                <li><i>Keywords:</i> <b>{{filter.phrase}}</b> <a href="#" class="remove-filter" data-field="phrase">&times;</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </section>
                    <section class="box search">
                        <form id="search" method="post" action="#">
                            <input type="text" class="text" name="query" placeholder="Search" value="{{filter.phrase}}">
                            <div style="float:right">Exact Match <input type="checkbox" name="exact" {% if filter.exact == 'true' %}checked{% endif %}></div>
                        </form>
                    </section>

                    <div id="sites">
                    <h2><a href="#" class="showSites">Sites ({{ sites.buckets|length|intcomma }})</a></h2>
                    <ul class="hosts">
                    {% for site in sites.buckets %}
                    <li><a class="add-filter" data-field="site" data-key="{{ site.key }}" href="#">{{ site.key }}</a> ({{ site.doc_count|intcomma }})</li>
                    {% endfor %}
                    {% if sites.sum_other_doc_count %}
                    <li><a class="add-filter" data-field="site" data-key="_other" href="#">Other</a> ({{ sites.sum_other_doc_count|intcomma }})</li>
                    {% endif  %}
                    <li class="stretch"></li>
                    </ul>
                    </div>

                    <div id="docs">
                    {% if docs %}
                    <h2>Scrapes</h2>
                    <p>
                    {% if has_prev %}
                    <a class="load-prev" href="#">&lt; previous</a>
                    {% endif %}
                    {% if has_next%}
                    <a class="load-next" href="#">next &gt;</a>
                    {% endif %}
                    <span class="center">{{first|intcomma}}-{{last|intcomma}} of {{total|intcomma}}</span>
                    </p>
                    <table class="docs">
                    <tr>
                        <th>URL</th>
                        <th>Timestamp</th>
                        <!--
                        <th>Images</th>
                        <th>Videos</th>
                        <th>Team</th>
                        <th>Crawler</th>
                        -->
                        <th></th>
                    </tr>
                    {% for doc in docs %}
                    <tr data-id="{{doc.id}}">
                        <td><a class="show-scrape" href="get/{{doc.index}}/{{doc.type}}/{{doc.id}}" title="{{doc.fields.source.0.url}}">{{ doc.fields.source.0.url|truncatechars:85 }}</a></td>
                        <td>{{ doc.fields.source.0.timestamp|timestamp }}</td>
                        <td><a href="{{doc.fields.source.0.url}}" target="_blank">visit</a></td>
			{%if doc.fields.source.0.crawl_data.site_capture %}
            		<td><a href="http://memex-dev.istresearch.com/site-capture-service/{{doc.fields.source.0.crawl_data.site_capture}}" target="_blank">view</a></td>
            		{% endif %}
                    </tr>
                    {% endfor %}
                    </table>
                    <p>
                    {% if has_prev %}
                    <a class="load-prev" href="#">&lt; previous</a>
                    {% endif %}
                    {% if has_next%}
                    <a class="load-next" href="#">next &gt;</a>
                    {% endif %}
                    <span class="center">{{first|intcomma}}-{{last|intcomma}} of {{total|intcomma}}</span>
                    </p>
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                <h1 id="logo"><a class="go-home" href="#">MEMEX <div style="font-size:10pt">Crawl Dashboard</div></a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <header>
                        <h2>Domain <a href="{% url 'app.views.report' %}">(Stats)</a></h2>
                    </header>
                    <ul>
                        {% for domain in domains.buckets %}
                        <li>
                            <a title="{{ domain.key|capfirst }}" href="{{ domain.key }}">
                                <span>{{ domain.key|capfirst }}</span>
                                <span style='float:right'>({{ domain.doc_count|intcomma }})</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div id="domain-sidebar">
                    <nav>
                        <header>
                            <h2>{{ filter.domain|capfirst }} by Team</h2>
                        </header>
                        <ul>
                            {% for team in teams.buckets %}
                            <li>
                                <a title="{{ team.key|upper }}" class="add-filter" data-field="team" data-key="{{team.key}}" href="#">
                                    <span>{{ team.key|upper }}</span> 
                                    <span style='float:right'>({{ team.doc_count|intcomma }})</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <nav>
                        <header>
                            <h2>{{ filter.domain|capfirst }} by Crawler</h2>
                        </header>
                        <ul>
                            {% for crawler in crawlers.buckets %}
                            <li>
                                <a title="{{ crawler.key|upper }}" class="add-filter" data-field="crawler" data-key="{{crawler.key}}" href="#">
                                    <span>{{ crawler.key|upper }}</span> 
                                    <span style='float:right'>({{ crawler.doc_count|intcomma }})</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <nav>
                        <header>
                            <h2>{{ filter.domain|capfirst }} by Date</h2>
                        </header>
                        <ul>
                            {% for span in dates.buckets reversed %}
                            <li>
                                <a title="Last 1 {{ span.key|capfirst }}" class="add-filter" data-field="timestamp" data-key="{{span.key}}" href="#">
                                    <span>Last 1 {{ span.key|capfirst }}</span> 
                                    <span style='float:right'>({{ span.doc_count|intcomma }})</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="static/assets/js/jquery.min.js"></script>
        <script src="static/assets/js/skel.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <script src="static/assets/js/featherlight.min.js"></script>
        <script src="static/assets/js/highcharts.js"></script>
        <script src="static/assets/js/main.js"></script>
        <script>
            $(function() {
                app.mainPage();
                app.filter.domain = "{{ filter.domain }}";
            });
        </script>
    </body>
</html>
