<!DOCTYPE HTML>
{% load humanize %}
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/css/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 8]><script src="static/assets/css/ie/respond.min.js"></script><![endif]-->
	</head>
	<body>

		<!-- Content -->
			<div id="content">
				<div class="inner">


				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a class="go-home" href="#">MEMEX <span style="font-size:10pt">DASHBOARD</span></a></h1>

				<!-- Nav -->
					<nav id="nav">
						<header>
							<h2>Domain</h2>
						</header>
						<ul>
							<!-- <li><a href="#">All Domains</a></li> -->
                            {% for domain in domains.buckets %}
							<li><a class="set-domain" data-key="{{domain.key}}" href="#">{{ domain.key|upper }} <span style="float:right">({{ domain.doc_count|intcomma }})</span></a></li>
                            {% endfor %}
						</ul>
					</nav>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
