<!DOCTYPE HTML>
{% load humanize %}
{% load memexfilters %}
<html>
    <head>
        <title>{{ site }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="{% url 'app.views.index' %}">
        <link rel="stylesheet" href="static/assets/css/main.css" />
        <link rel="stylesheet" href="static/assets/tablesorter-master/dist/css/theme.jui.min.css" />
        <link rel="stylesheet" href="static/assets/tablesorter-master/dist/css/jquery.tablesorter.pager.min.css" />   
        <link rel="stylesheet" href="static/assets/jquery-ui/jquery-ui.min.css">
        <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    </head>
    <body>   
        <div id="wrap">        
            <!-- Content -->
            <div id="content">
                <div class="inner">
                    <button id="retrieveButton">Load Archived Report</button>
                    <button id="exportButton">Download</button>
                    <span> {{ reportName }} </span>
                    <div class="pager"> 
                            <img src="static/assets/css/images/first.png" class="first"/> 
                            <img src="static/assets/css/images/prev.png" class="prev"/> 
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input --> 
                            <img src="static/assets/css/images/next.png" class="next"/> 
                            <img src="static/assets/css/images/last.png" class="last"/> 
                            <select class="pagesize" title="Select page size"> 
                                <option selected="selected" value="10">10</option> 
                                <option value="25">25</option> 
                                <option value="50">50</option> 
                                <option value="100">100</option> 
                            </select>
                            <select class="gotoPage" title="Select page number"></select>
                    </div>

                   <table id="statsReport" class="tablesorter"> 
                    <thead> 
                        <tr> 
                            <th>Domain</th> 
                            <th>Source Type</th> 
                            <th>URL</th>                             
                            <th>Currently Scraping ({{totals.3}})</th> 
                            <th>Currently Importing ({{totals.4}})</th> 
                            <th>Sections Scraping</th> 
                            <th>Scraped Since</th>   
                            <th>All Postings ({{totals.7}})</th>   
                            <th>Distinct Documents ({{totals.8}})</th>   
                            <th>Last 30 Days ({{totals.9}})</th>   
                            <th>Last 60 Days ({{totals.10}})</th>   
                            <th>Last 90 Days ({{totals.11}})</th>   
                            <th>Number of Images ({{totals.12}})</th>
 			    <th>Notes</th>                                                        
                        </tr> 
                    </thead> 
                    <tbody> 
                    {% for row in records %}		    
                        <tr id={{ forloop.counter0 }}>
                            {% for field in row %}
			    	{% if forloop.counter0 == 13 %}
	                                {% if field != '' %}
                        	                <td rowId={{ forloop.parentloop.counter0 }} data-value='{{field}}'>Click to View/Add</td>
        	                        {% else %}
						<td rowId={{ forloop.parentloop.counter0 }} data-value='{{field}}'>Click to Add</td>
                	                {% endif %}
			        {% elif forloop.counter0 == 5 %}
                                        {% if field == '' %}
                                                <td rowId={{ forloop.parentloop.counter0 }} data-value='{{field}}'>Click to Add</td>
                                        {% else %}
                                                <td rowId={{ forloop.parentloop.counter0 }} data-value='{{field}}'>{{ field }}</td>
                                        {% endif %}
                                {% else %}
                                        <td rowId={{ forloop.parentloop.counter0 }}>{{ field }} </td>
                                {% endif %}           
                            {% endfor %}
                        </tr>
                    {% endfor %}                    
                    </tbody> 
                    </table>         
                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                <h1 id="logo"><a class="go-home" href="#">MEMEX <div style="font-size:10pt">Crawl Dashboard</div></a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <header>
                        <h2>Domain <a href="{% url 'app.views.report' %}">(Stats)</a></h2>
                    </header>
                    <ul>
                        {% for domain in domains.buckets %}
                        <li>
                            <a title="{{ domain.key|capfirst }}" class="set-domain" data-key="{{domain.key}}" href="#">
                                <span>{{ domain.key|capfirst }}</span>
                                <span style='float:right'>({{ domain.doc_count|intcomma }})</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div id="domain-sidebar"></div>
            </div>
        </div>

        <div id="load-report-dialog-form" title="Load Archived Report">     
          <p class="validateTips">Retrieve the first report generated <i>after</i> the date/time entered.</p>    
          <form>
            <fieldset>
              <label for="date">Select Date & Time</label>
              <div id="loadDate"/>
              <select name="number" id="loadHour">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>              
                  <option>11</option>              
                  <option selected="selected">12</option>
              </select>    
              <select name="number" id="loadAMorPM">
                  <option selected="selected">AM</option>              
                  <option>PM</option>            
              </select>                                  
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
          </form>
        </div>

        <div id="user-notes-dialog-form">
          <form>	
            <fieldset>
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
          </form>
        </div>

        <div id="sections-scraping-dialog-form">
          <form>
            <fieldset>
	      <input type="text" id="sectionsScrapingText" />
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
            </fieldset>
          </form>
        </div>

        <!-- Scripts -->
	<script src="static/assets/tablesorter-master/dist/js/jquery.min.js"></script>
        <script src="static/assets/js/skel.min.js"></script>
        <script src="static/assets/js/util.js"></script>
        <script src="static/assets/js/main.js"></script>        
        <script src="static/assets/tablesorter-master/docs/js/jquery-ui.min.js"></script>
        <script src="static/assets/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script> 
        <script src="static/assets/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script>     
        <script src="static/assets/js/jquery.tablesorter.pager.min.js"></script>             
        <script src="static/assets/tablesorter-master/dist/js/widgets/widget-filter-type-insideRange.min.js"></script>
        <script src="static/assets/tablesorter-master/dist/js/widgets/widget-output.min.js"></script>        
        <script src="static/assets/tablesorter-master/dist/js/widgets/widget-uitheme.min.js"></script>           
        <script src="static/assets/tablesorter-master/dist/js/widgets/widget-editable.min.js"></script>     
        <script src="static/assets/js/parser-date-range.min.js"></script>        
        <script>  

            $(document).ready(function() { 
                var dialog, form;

                $(document).data("domain", '{{domain}}');

                function loadReport() {
                  var valid = true;
                  if ( valid ) {
                    console.log('loading report from ' + $("#loadDate").val() + " near " + $("#loadHour").val() + $("#loadAMorPM").val() );
                    if ( $(document).data("domain") != '') {
                        window.location = "{% url 'app.views.report' %}?datetime=" + $("#loadDate").val() + "_" + $("#loadHour").val() + $("#loadAMorPM").val() + "&domain={{domain}}";
                    }
                    else {
                       window.location = "/report?datetime=" + $("#loadDate").val() + "_" + $("#loadHour").val() + $("#loadAMorPM").val() ;                        
                    }
                  }
                  return valid;
                }

                loadDialog = $( "#load-report-dialog-form" ).dialog({
                  autoOpen: false,
                  height: 670,
                  width: 430,
                  modal: true,
                  buttons: {
                    "Load Report": loadReport,
                    Cancel: function() {
                      loadDialog.dialog( "close" );
                    }
                  },
                  close: function() {
                    form[ 0 ].reset();
                  }
                });
             
                form = loadDialog.find( "form" ).on( "submit", function( event ) {
                  event.preventDefault();
                  loadReport();
                });

                $("#loadDate").datepicker({dateFormat: "yy-mm-dd"});

                $( "#loadHour" )
                  .selectmenu()
                  .selectmenu( "menuWidget" )
                    .addClass( "overflow" );

                $( "#loadAMorPM" ).selectmenu();

                $("#retrieveButton")
                    .button()
                    .click(function( event ) {
                        loadDialog.dialog( "open" );
                        event.preventDefault();
                    });      

                $("#exportButton")
                    .button()
                    .click(function( event ) {
                        $("#statsReport").trigger('outputTable');
                    });

                function userNotes() {
	          console.log('user input...' + $( "#user-notes-dialog-form" ).data("notes")); 
		  window.location = "{% url 'app.views.report' %}?domain=" + $(document).data("domain") 
				  	+ "&url=" + $("#user-notes-dialog-form").data("url") 
					+ "&note=" + document.getElementById("addNoteText").value;
                  return true;
                }

                userNotesDialog = $( "#user-notes-dialog-form" ).dialog({
                  autoOpen: false,
                  modal: true,
                  open: function() {		
			var form = document.getElementById("user-notes-dialog-form");
			while (form.firstChild) {
 				form.removeChild(form.firstChild);
			}
			userNotesDialog.dialog('option', 'title', userNotesDialog.data("title"));
                    	var existingNotes = userNotesDialog.data("notes");
			existingNotes = existingNotes.replace(/(\r\n|\n|\r)/gm,"");
			existingNotes = existingNotes.split("***************");
			for(i=0;i<existingNotes.length-1;i++) {
		                var noteText = document.createElement("div");
				noteText.innerHTML = "<br><textarea readonly>" + existingNotes[i] + "</textarea>";
                		document.getElementById("user-notes-dialog-form").appendChild(noteText);
			}
                        var newNote = document.createElement("div");
                        newNote.innerHTML = "<br><textarea id='addNoteText'/>";
                        document.getElementById("user-notes-dialog-form").appendChild(newNote);
                  },
                  buttons: {
                    "Add Note": userNotes,
                    Cancel: function() {			
                        userNotesDialog.dialog( "close" );
                    }
                  },
                  close: function() {
                    form[ 0 ].reset();
                  },
		  closeOnEscape: false,
                });

                uForm = userNotesDialog.find( "form" ).on( "submit", function( event ) {
                  event.preventDefault();
                  userNotes();
                });

                function sectionsScraping() {
                  console.log('user input...' + $( "#sections-scraping-dialog-form" ).data("sectionsScraping"));
                  window.location = "{% url 'app.views.report' %}?domain=" + $(document).data("domain") 
					+ "&url=" + $("#sections-scraping-dialog-form").data("url") 
					+ "&sectionsScraping=" + document.getElementById("sectionsScrapingText").value;
                  return true;
                }

                sectionsScrapingDialog = $( "#sections-scraping-dialog-form" ).dialog({
                  autoOpen: false,
                  height: 250,
                  width: 400,
                  modal: true,
                  open: function() {
			sectionsScrapingDialog.dialog('option', 'title', sectionsScrapingDialog.data("url"));
                        var existingSectionsScraping = sectionsScrapingDialog.data("sectionsScraping");
			document.getElementById("sectionsScrapingText").value=existingSectionsScraping;
                  },
                  buttons: {
                    "Update Sections": sectionsScraping,
                    Cancel: function() {
                        console.log('sections scraping: ' + '{{ sectionsScraping }}')
                        sectionsScrapingDialog.dialog( "close" );
                    }
                  },
                  close: function() {
                    form[ 0 ].reset();
                  }
                });

                ssForm = sectionsScrapingDialog.find( "form" ).on( "submit", function( event ) {
                  event.preventDefault();
                  sectionsScraping();
                });

                $("#statsReport") 
                    .tablesorter({
                        widthFixed: false, 
                        widgets: ['uitheme', 'zebra', 'filter', 'output', 'editable'], 
                        theme: 'jui',
                        showProcessing: true,
                        cancelSelection: true,
                        sortMultiSortKey: "shiftKey",
                        sortResetKey: 'ctrlKey',
                        usNumberFormat: true,
                        widgetOptions : {
                          filter_reset : '.reset',
                          filter_searchFiltered : false,
                          output_separator     : ',',        
                          output_headerRows    : true,       
                          output_delivery      : 'd',        
                          output_saveRows      : 'f',       
                          output_duplicateSpans: true,      
                          output_trimSpaces    : false,       // remove extra white-space characters from beginning & end
                          output_saveFileName  : '{{ reportName }}',
                          output_callback      : function(config, data) { return true; },
		          editable_columns       : [5, 13],   
		          editable_enterToAccept : true,          // press enter to accept content, or click outside if false
		          editable_autoAccept    : true,          // accepts any changes made to the table cell automatically (v2.17.6)
		          editable_autoResort    : false,         // auto resort after the content has changed.
		          editable_validate      : null,          // return a valid string: function(text, original, columnIndex){ return text; }
		          editable_focused       : function(txt, columnIndex, $element) {
   	                        var val = $element.closest('td').text();
			        var rowId = $element.closest('td').attr('rowId');
		                var url = document.getElementById(rowId).cells[2].textContent;
				if( $element.closest('td')[0].cellIndex == 5) {
					if( val == "Click to Add") val = "";
					sectionsScrapingDialog.data("url", url).data("sectionsScraping", val).dialog( "open" );
				}
				else {
					userNotesDialog.data("url", url).data("title", "Notes for " + url).data("notes", $element.closest('td').data("value")).dialog( "open" );
				}
		          	$element.addClass('focused');
		          },
		          editable_blur          : function(txt, columnIndex, $element) {
		                $element.removeClass('focused');
		          },
		          editable_selectAll     : function(txt, columnIndex, $element){
		                return /^b/i.test(txt) && columnIndex === 0;
	 	          },
		          editable_wrapContent   : '<div>',       // wrap all editable cell content... makes this widget work in IE, and with autocomplete
		          editable_trimContent   : true,          // trim content ( removes outer tabs & carriage returns )
		          editable_noEdit        : 'no-edit',     // class name of cell that is not editable
		          editable_editComplete  : function(txt, columnIndex, $element) {
			  }
                        }                        
                    }) 
                    .tablesorterPager({
                        container: $(".pager"),
                        ajaxUrl: null,
                        ajaxProcessing: function(ajax) {
                            if (ajax && ajax.hasOwnProperty('data')) {
                                return [ajax.data, ajax.total_rows];
                            }
                        },
                        output: '{startRow} to {endRow} ({totalRows})',
                        updateArrows: true,
                        page: 0,
                        size: 10,
                        fixedHeight: true,
                        removeRows: false,
                        cssNext: '.next',
                        cssPrev: '.prev',
                        cssFirst: '.first',
                        cssLast: '.last',
                        cssGoto: '.gotoPage',
                        cssPageDisplay: '.pagedisplay',
                        cssPageSize: '.pagesize',
                        cssDisabled: 'disabled'
                    });
            }); 

        </script>
    </body>
</html>
