{% load humanize %}
{% load timetags %}

<div id="sites"></div>

<div id="docs">
        {% if hits.hits%}
        <h2>Scrapes</h2>
        <p>
        {% if has_prev %}
        <a class="load-prev" href="#">&lt; previous</a>
        {% endif %}
        {% if has_next%}
        <a class="load-next" href="#">next &gt;</a>
        {% endif %}
        <span class="center">{{pageinfo.first|intcomma}}-{{pageinfo.last|intcomma}} of {{pageinfo.total|intcomma}}</span>
        </p>
        <table class="docs">
        <tr>
            <th>URL</th>
            <th>Timestamp</th>
            <!--
            <th>Images</th>
            <th>Videos</th>
            <th>Team</th>
            <th>Crawler</th>
            -->
            <th></th>
        </tr>
        {% for doc in hits.hits %}
        <tr data-id="{{doc.id}}">
            <td><a class="show-scrape" href="#" data-url="get/{{doc.type}}/{{doc.id}}" title="{{doc.fields.source.0.url}}">{{ doc.fields.source.0.url|truncatechars:72 }}</a></td>
            <td>{{ doc.fields.source.0.timestamp|ts }}</td>
            <!--
            <td class="center">{% if doc.fields.source.0.images %}{{ doc.fields.source.0.images|length }}{% else %} 0 {% endif %}</td>
            <td class="center">{% if doc.fields.source.0.videos %}{{ doc.fields.source.0.videos|length }}{% else %} 0 {% endif %}</td>
            <td>{{ doc.fields.source.0.team|upper }}</td>
            <td>{{ doc.fields.source.0.crawler|upper }}</td>
            -->
            <td><a href="{{doc.fields.source.0.url}}" target="_blank">visit</a></td>
        </tr>
        {% endfor %}
        </table>
        <p>
        {% if has_prev %}
        <a class="load-prev" href="#">&lt; previous</a>
        {% endif %}
        {% if has_next%}
        <a class="load-next" href="#">next &gt;</a>
        {% endif %}
        <span class="center">{{pageinfo.first|intcomma}}-{{pageinfo.last|intcomma}} of {{pageinfo.total|intcomma}}</span>
        </p>
        {% else %}
        <p>0 results found</p>
        {% endif %}
</div>
